/* Tag selectors */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

a {
    text-decoration: none;
}

/* Class selectors */

.logo {
    width: 200px;
}

.header-container {
    background-image: url("../images/background-small.jpg");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.logo {
    padding: ;
}

.nav {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.section-header {
    display: flex;
    margin: 0 300px;
    justify-content: space-between;
}

.header-text {
    flex: 1;
}

.header-art {
    display: flex;
    justify-content: center;
    flex: 1;
}

